name: Sonar

on:
  push:
    branches:
      - master
  pull_request:
  pull_request_target:
    types: [opened, synchronize, reopened]

defaults:
  run:
    working-directory: ./src

jobs:

  build:

    runs-on: windows-latest

    steps:
      - name: Set up JDK 11
        uses: actions/setup-java@v1
        with:
          java-version: 1.11

      - name: Install .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: 2.1.x

      - name: Setup MSBuild.exe
        uses: microsoft/setup-msbuild@v1.0.2

      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          ref: '${{ github.event.pull_request.head.sha }}'

      - name: Cache SonarCloud packages
        uses: actions/cache@v1
        with:
          path: ~\sonar\cache
          key: ${{ runner.os }}-sonar
          restore-keys: ${{ runner.os }}-sonar

      - name: Cache SonarCloud scanner
        id: cache-sonar-scanner
        uses: actions/cache@v1
        with:
          path: .\.sonar\scanner
          key: ${{ runner.os }}-sonar-scanner
          restore-keys: ${{ runner.os }}-sonar-scanner

      - name: Install SonarCloud scanner
        if: steps.cache-sonar-scanner.outputs.cache-hit != 'true'
        shell: powershell
        run: |
          New-Item -Path .\.sonar\scanner -ItemType Directory
          dotnet tool update dotnet-sonarscanner --tool-path .\.sonar\scanner

      - name: Build and analyze
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}  # Needed to get PR information, if any
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        shell: powershell
        run: |
          if ('${{ github.event_name }}' -eq 'pull_request_target')
          {
            $env:GITHUB_EVENT_NAME = 'pull_request'
            $env:GITHUB_SHA = $(git show -s --format=%H)
            $env:GITHUB_REF = 'refs/pull/${{ github.event.number }}/merge'
          }
          .\.sonar\scanner\dotnet-sonarscanner begin /k:"Depressurizer_Depressurizer" /o:"depressurizer" /d:sonar.login="${{ secrets.SONAR_TOKEN }}" /d:sonar.host.url="https://sonarcloud.io"
          dotnet build
          .\.sonar\scanner\dotnet-sonarscanner end /d:sonar.login="${{ secrets.SONAR_TOKEN }}"
